/Hibernate tutorial/Chapter1/target/
/myChosenbox/nbproject/private/
/workspace/Component_Development/nbproject/private/
/workspace/MultiInOne/nbproject/private/
/workspace/ChosenboxTest/nbproject/private/
/workspace/ZKEE/nbproject/private/
/workspace/ZK_Test/nbproject/private/
/workspace/ZK_Test/nbbuild/